  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333; /* Warna latar belakang navbar */
    padding: 10px; /* Ruang dalam navbar */
}

ul {
    list-style-type: none; /* Menghapus tanda bullet dari daftar */
    padding: 0;
}

li {
    display: inline; /* Menampilkan daftar secara horizontal */
    margin-right: 20px; /* Ruang antara setiap tautan */
}

a {
    text-decoration: none; /* Menghapus garis bawah dari tautan */
    color: white; /* Warna teks tautan */
    font-weight: bold; /* Ketebalan teks tautan */
}

a:hover {
    color: #00aaff; /* Warna tautan saat mouse diarahkan */
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 60px 0;
    text-align: center;
}

.project {
    margin-bottom: 40px;
}

footer {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
