  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

/* Gaya untuk header dan nav */
header {
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gaya untuk navbar kiri */
.navbar-left {
    margin-left: 20px;
}

.navbar-left a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

/* Gaya untuk form pencarian dan tombol */
.navbar-center form {
    display: flex;
    align-items: center;
}

.navbar-center input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.navbar-center button[type="submit"] {
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Gaya untuk navbar kanan */
.navbar-right {
    margin-right: 20px;
}

.navbar-right a {
    color: white;
    text-decoration: none;
}

/* Gaya untuk judul h1 */
h1 {
    margin-top: 20px;
}

/* Gaya untuk footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 60px 0;
    text-align: center;
}

.project {
    margin-bottom: 40px;
}

footer {
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
